@import url("https://fonts.googleapis.com/css2?family=Rasa&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 100%;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background: url("../images/bg_ptn.gif"), radial-gradient(106.89% 608.72% at 50% 50%, #03458f 0%, #0dc8ff 100%);
  background-blend-mode: multiply, normal;
  width: 100vw;
  height: 270px;
  border: solid 5px;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, #ffc700, #705700, #cc9f00);
}

#nav-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3.5em;
  font-weight: bold;
  font-stretch: condensed;
  position: relative;
}
#nav-title::after {
  text-shadow: 0px 0px 5px black;
  color: transparent;
  content: "Select a Class";
}
#nav-title span {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, #fff 50%, #ffc700 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
#nav-menu-1 {
  display: grid;
  grid-template-columns: repeat(14, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
}
#nav-menu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search {
  display: grid;
  grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
#search-bar {
  height: 55px;
  width: 339px;
  left: 427px;
  top: 181px;
  outline-width: 0;
  padding: 2px;
  font-size: 1.2em;
}

.nav-servant-ico {
  cursor: pointer;
}
.nav-servant-radio {
  display: none;
}

#servants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.servant-card {
  position: relative;
  width: 295px;
  height: 503px;
  background-color: transparent;
  border: 1px solid black;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.servant-border {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  height: inherit;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.servant-picture {
  position: absolute;
  top: 17px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.servant-title {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  z-index: 10;
  font-family: "Rasa", "Times New Roman", Times, serif;
  font-stretch: condensed;
  font-size: 2em;
  text-align: center;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.servant-title-text {
  position: relative;
  top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.servant-class-ico {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 54px;
}
.servant-class-name {
  letter-spacing: 2px;
}
.servant-click {
  cursor: pointer;
}

body {
  background-image: url("../images/bg_ptn.gif");
  background-repeat: repeat;
}

.button-fgo {
  height: 41px;
  width: 165px;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  cursor: pointer;
  background-image: radial-gradient(#cecece, #fff);
}
.button-fgo:active {
  background: #b5b5b5;
}
.button-fgo span {
  font-size: 24px;
  font-weight: bold;
  font-stretch: condensed;
  background: radial-gradient(50% 50% at 50% 50%, #0071ec 0%, #002b5a 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

#overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 0;
}

.hideMe {
  visibility: visible;
}

#modals {
  padding: 10px;
  background-image: url("../images/bg_ptn.gif");
  background-repeat: repeat;
}
#modals-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 100;
}