@import "nav", "servant";

body {
  background-image: url($bgpattern);
  background-repeat: repeat;
}
// Button
.button {
  &-fgo {
    height: 41px;
    width: 165px;
    border: none;
    border-radius: 100px;
    box-shadow: 0px 0px 5px black;
    cursor: pointer;
    background-image: radial-gradient(#cecece, #fff);
    &:active {
      background: darken($color: #cecece, $amount: 10);
    }
    span {
      font-size: 24px;
      @include fgoFont;
      //   font-weight: bold;
      //   font-stretch: condensed;
      background: radial-gradient(50% 50% at 50% 50%, #0071ec 0%, #002b5a 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}
