#modals {
  position: relative;
  padding: 10px;
  background-image: url("../images/bg_ptn.gif");
  background-repeat: repeat;
  display: flex;
  align-items: flex-start;
  z-index: 100;

  &-wrapper {
    @include flexCenter;
    position: fixed;
    width: 100vw;
    height: 100vh;
    // background-color: red;
    top: 0;
    left: 0;
    z-index: 100;
  }
  &-ascension {
    @include flexCenter;
    flex-direction: column;
    img {
      width: 300px;
      height: auto;
    }
    span {
      @include fgoFont;
      font-size: 1.5em;
    }
  }
  &-info {
    text-align: left;
    &-wrapper {
      display: flex;
      align-content: flex-start;
    }
  }
}

.modals {
  &-wrapper {
    &-2 {
      position: relative;
    }
  }
  &-notavailable {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    color: red;
    padding: 10px 0;
  }
  &-hide {
    // opacity: 0;
    // transition: opacity 0.5s;
    // transition-timing-function: ease;
    clip-path: polygon(0 50%, 100% 50%, 100% 50%, 0 50%);
  }
  &-show {
    // opacity: 1;
    animation: clipOut 0.5s;
    animation-fill-mode: forwards;
  }
  &-skill {
    font-size: 1.5em;
    font-style: italic;
    // position: relative;
    p {
      margin-top: 10px;
    }
    // text-align: center;
    // line-height: 1.5;
    &-title {
      // position: absolute;
      // top: 50%;
      // z-index: 0;
      width: 100%;
      height: 2px;
      margin-bottom: 5px;
      // background: red;
      background-image: linear-gradient(to right, black, rgb(black, 0));
    }
  }
  &-column {
    margin: 20px 5px;
  }
  &-separator {
    width: 2px;
    height: 400px;
    // background: red;
    background-image: radial-gradient(
      circle,
      rgb(104, 104, 104),
      rgb(black, 0)
    );
    margin: 0 15px;
    align-self: center;
  }
  &-info {
    &-bold {
      font-weight: bold;
    }
    &-reg {
      font-weight: normal;
    }
    // &-skill {
    //   font-size: 2em;
    // }
  }
  &-table {
    max-width: 400px;
    td {
      border: 0px solid black;
    }
  }
}
// input[type="radio"]:checked ~ .asc-opt {
//   // background: red;
//   color: red;
// }
.asc {
  &-Radio {
    display: none;
  }
  // &-opt {
  //   @include flexCenter;
  //   width: 50px;
  //   height: 40px;
  //   margin: 5px;
  //   background-color: white;
  //   border: 1px solid black;
  //   @include fgoFont;
  //   font-size: 1.5em;
  //   cursor: pointer;
  // }
}
#ascension {
  & label {
    @include flexCenter;
    width: 50px;
    height: 40px;
    margin: 5px;
    background-color: white;
    border: 1px solid black;
    @include fgoFont;
    font-size: 1.5em;
    cursor: pointer;
  }
  @include flexCenter;
  & input[type="radio"]:checked + label {
    background-color: $bgcolor_blue1;
    color: white;
  }
}

.rarity {
  width: 40px;
  height: 40px;
  // background-color: $bordercolor_gold1;
  // box-shadow: 0px 0px 10px black;
  // border: 1px solid black;
  background-image: radial-gradient(rgb(255, 241, 159), $bordercolor_gold1);

  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  &-stars {
    @include flexCenter;
  }
}
.clipshadow {
  filter: drop-shadow(0px 0px 1px black);
}
.stats {
  font-size: 0.8em;
  width: 100%;
  margin: 5px 0;
}

.class {
  &-card {
    width: 50px;
    height: auto;
  }
}

.np {
  &-NA {
    position: absolute;
    font-weight: bold;
    color: white;
    text-shadow: 0px 0px 6px black;
    // top: 20px;
    left: 20px;
  }
  &-face {
    position: absolute;
    // width: 60px;
    bottom: 0;
  }
  &-card {
    position: relative;
    @include flexCenter;
    width: 100px;
  }
  &-bg {
    // width: 80%;
    align-self: center;
  }
  &-icon {
    position: absolute;
    top: 40px;
    // bottom: 0;
    // scale: 200%;
  }
}

.skill {
  &-ico {
    padding: 2px;
    img {
      width: 54px;
    }
  }
}
// #1st-Asc{

// }
@keyframes clipOut {
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    // visibility: hidden;
  }
}
