#servants {
  display: flex;
  @include flexCenter;
  flex-wrap: wrap;

  &-portrait {
    width: 287px;
    height: 406px;
  }
}
.skill {
  &-ico {
    width: 54px;
    // img {
    // }
  }
}
.servant {
  &-card {
    position: relative;
    width: 295px;
    height: 503px;
    background-color: transparent;
    border: 1px solid black;
    margin: 5px;
    @include flexCenter;
  }
  &-border {
    // Sambple
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    // background-image: url("../images/servant-border/servant_card_00.png");
    // background-size: cover;
    z-index: 1;
    // user-select: none;
  }
  &-picture {
    position: absolute;
    top: 17px;
    left: 0;
    width: 100%;
    height: 100%;
    // user-select: none;
  }
  &-title {
    position: absolute;
    @include flexCenter;
    flex-direction: column;
    bottom: 10px;
    // left: 41px;
    z-index: 2;
    // Font styles
    font-family: "Rasa", "Times New Roman", Times, serif;
    font-stretch: condensed;
    font-size: 2em;
    text-align: center;
    color: white;
    @include fontStroke;
    &-text {
      position: relative;
      top: 5px;
      @include flexCenter;
      flex-direction: column;
    }
  }
  &-class {
    //   &-name{

    //   }
    &-ico {
      // background-image: url("../images/class-ico/archer-ico.png");
      // background-size: 57px 57px;
      // user-select: none;
      width: 54px;
      height: 54px;
      position: relative;
      img {
        top: 0px;
        left: 2px;
        position: absolute;
      }
    }
    &-name {
      letter-spacing: 2px;
    }
  }
  //   &-name {
  //     position: absolute;
  //     font-size: 0.5em;
  //     top: 28px;
  //   }

  &-click {
    cursor: pointer;
  }
}
