// Colors----------------------------

// Blue backgrounds
$bgcolor_blue1: #03458f;
$bgcolor_blue2: #2b8eff;
$bgcolor_blue3: #0dc8ff;

// border colors
$bordercolor_gold1: #ffc700;
$bordercolor_gold2: #705700;
$bordercolor_gold3: #cc9f00;
// $bgimagepattern:""

// background pattern
$bgpattern: "../images/bg_ptn.gif";
